$card-bg-default:#EEE;
$card-font-default:#333;
$card-bg-red:#f44336;
$card-font-red:#FFF;
$card-bg-blue:#2196F3;
$card-font-blue:#FFF;
$card-bg-yellow:#FFEB3B;
$card-font-yellow:#111;
$card-bg-black:#37474F;
$card-font-black:#EEE;
@mixin Card($color-bg, $color-font) {
    background-color: $color-bg;
    border-color: darken($color-bg, 10%);
    text-shadow: 3px 3px 0 darken($color-bg, 10%);
    color: $color-font;
    &:hover {
        border-color: darken($color-bg, 20%);
        background-color: darken($color-bg, 15%);
        text-shadow: 3px 3px 0 darken($color-bg, 20%);
    }
}

.row.row-game {
    margin: 1% 0 0;
}

.row-topbar {
    border-bottom: solid 1px #EEE;
}

.row.row-game .one-fifth.columns:first-child {
    margin-left: 0;
}

.row.row-game .one-fifth.columns {
    width: 19.2%;
    margin-left: 1%;
}

.cards-wrapper {
    margin: 5px auto 0;
}
   
.card-container {
    perspective: 800px;
    position: relative;
    float: left;
    margin: 5px;
    .card {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;
        transform-origin: center;
        .front,
        .back {
            margin: -3px;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border: 3px solid #CCC;
            border-radius: 10px;
            // line-height: 150px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            &:before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                -webkit-touch-callout: none;
                /* iOS Safari */
                -webkit-user-select: none;
                /* Chrome/Safari/Opera */
                -khtml-user-select: none;
                /* Konqueror */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* Internet Explorer/Edge */
                user-select: none;
            }
        }
        .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
            @include Card($card-bg-default, $card-font-default);
        }
        .back {
            transform: rotateX(180deg);
            .expl{
                position: absolute;
                font-size: 0.8em;
                bottom: 5px;
                right: 5px;
            }
        }
        &.card-red {
            .back {
                @include Card($card-bg-red, $card-font-red);
            }
        }
        &.card-blue {
            .back {
                @include Card($card-bg-blue, $card-font-blue);
            }
        }
        &.card-black {
            .back {
                @include Card($card-bg-black, $card-font-black);
            }
        }
        &.card-yellow {
            .back {
                @include Card($card-bg-yellow, $card-font-yellow);
            }
        }
    }
    &.flip {
        .card {
            transform: rotateX( -180deg);
        }
    }
    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {
    .cards-wrapper {
        width: 750px;
        height: 586px;
    }
    .card-container {
        width: 140px;
        height: 107px;
        span {
            font-size: 1.4em;
        }
    }
}


/* Larger than desktop */

@media (min-width: 1000px) {
    .cards-wrapper {
        width: 1000px;
        height: 768px;
    }
    .card-container {
        width: 190px;
        height: 143px;
        span {
            font-size: 1.7em;
        }
    }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
    .cards-wrapper {
        width: 1200px;
        height: 768px;
    }
    .card-container {
        width: 230px;
        height: 143px;
        span {
            font-size: 2.3em;
        }
    }
}