<div class="row row-topbar">
	<button class="u-pull-right" ng-click="vm.ToggleAll()">εμφανιση / αποκρυψη</button>
	<h1>CryptoCodes</h1>
</div>

<div class="card-wrapper" ng-repeat="card in vm.cards track by $index">
	<div class="card" ng-click="vm.ShowCard($index)">
		<div class="card-inner" ng-class="card.class" >
			<span class="word">{{card.word}}</span>
			<span class="expl" ng-show="card.is_shown">{{vm.CardTypes[card.type]}}</span>
		</div>
	</div>
</div>

<div class="u-cf"></div>