<div class="header">
	<h1>CryptoCodes <small class="serial">GAME#{{vm.game._config.seed}}</small></h1>
</div>
<div class="toolbar">
	<a ui-sref="app.main" class="button">πισω</a>
	<button class="u-pull-right" ng-click="vm.ToggleAll()">εμφανιση / αποκρυψη ολων</button>
</div>
<div class="cards-wrapper">
	<div ng-repeat="card in vm.game.cards track by $index" class="card-container" ng-class="{flip:card.flip}" ng-click="vm.ShowCard($index)">
		<div class="card {{card.class}}">
			<div class="front">
				<span class="word">{{card.word}}</span>
			</div>
			<div class="back">
				<span class="word">{{card.word}}</span>
				<div class="expl">{{card.answer}}</div>
				<span class="fa fa-{{card.icon}}"></span>
			</div>
		</div>
	</div>
</div>
<pre>{{vm.game|json:2}}</pre>

<div class="u-cf"></div>